.LoginPageWrapper{
    display: grid;
    justify-items: start;
    /* grid-template-rows: 17vh 5.4vh 14.4vh 81px 28vh 5vh; */
    grid-template-rows: 17vh 5.4vh 14.4vh 81px 10vh 23vh;
    max-width: 407px;
    width: 100vw;
    align-items: end;
}

.LoginPageLogoWrapper{
    display: grid;
    justify-items: center;
    height: fit-content;
    margin-bottom: 3.5vh;
    margin-left: 7%;
}

.LoginPageTitleWrapper{
    margin-left: 7%;
    text-decoration: none;
    display: grid;
    grid-template-columns: 14px auto;
    align-items: center;
}

.LoginPageTitle{
    font-size: 18px;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    color: #101010;
    width: max-content;
}

.LoginPageFormWrapper{
    margin-left: 10%;
    display: grid;
    grid-template-rows: 26px 34px;
    width: -webkit-fill-available;
    margin-right: 10%;
}

.LoginPageFormText{
    font-size: 13.4px;
    font-weight: 400;
    font-family: 'Prompt', sans-serif;
    color: #5F5F5F;

}


.LoginPageInputStyles{
    border: 0;
    border-bottom: 1.2px solid #E1E1E1;
    padding-bottom: 10px;
    font-size: 12px;
    padding-left: 9px;
    padding-right: 9px;
    font-weight: 400;
    font-family: 'Prompt', sans-serif;
    outline: none;
    width: -webkit-fill-available;
    border-radius: 0;
}

.LoginResult{
    width: 100%;
    align-self: center;
    text-align: center;
}

.LoginButtonsContainer{
    max-width: 407px;
    display: grid;
    grid-template-rows: 45px 43px 35px;
    height: fit-content;
    margin-bottom: 0%;
    justify-items: center;
    width: 100vw;
}

.LoginButtonStyles{
    background-color: #D9D9D9;
    width: 144px;
    height: 32px;
    border-radius: 10px;
    font-weight: 600;
    font-size: 12px;
    color: black;
    transition: all 0.2s;
}

.LoginButtonStyles:hover{
    background-color: black;
    color: #D9D9D9;
}