.data-grid-parent{
    width: 99%; 
    margin-top: 30px;
    grid-column: 2/span 5;
    grid-row: 2/span 5;
}

.grid-parent-add-btn-container{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

/*modal window*/
.modal-window{
    display: none;
    position: fixed;
    z-index: 1; 
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}

/* .modal-window-show{
    display: block;
    position: fixed;
    z-index: 111; 
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto;
    background-color: rgba(0,0,0,0.4); 
} */
.modal-window-show{
    display: flex;
    position: fixed;
    z-index: 111;
    padding-top: 2rem;
    left: 50%;
    top: 10%;
    width: 30%;
    height: 60%;
    overflow: auto;
    background-color: rgba(255, 255, 255, 1);
    right: 0;
    transform: translate(-50%, 0);
}

.modal-window .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 5px 20px 20px 20px;
    width: 250pt;
    height: 300pt;
    border-radius: 5pt;
    display: flex;
    flex-direction: column;
    background-color: #fefefe;
}

/* The Close Button */
.modal-window .modal-content .close {
    color: #000;
    font-size: 28px;
    font-weight: bold;
    align-self: end;
    padding: 0;
    margin: -10px -15px 0px 0px;
}

.modal-window .modal-content .close:hover, 
.modal-window .modal-content .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* Media query for viewport width less than 768px */
@media (max-width: 767px) {
    .data-grid-parent{
        width: 99%; 
        margin-top: 30px;
        grid-column: 2/span 5;
        grid-row: 2/span 5;
        overflow: scroll;
    }
}

