.ForgetPasswordPageWrapper{
    display: grid;
    justify-items: start;
    grid-template-rows: 17vh 5.4vh 11.4vh 55vh 3vh;
    max-width: 407px;
    width: 100vw;
    align-items: end;
}

.ForgetPasswordLogoWrapper{
    display: grid;
    justify-items: center;
    height: fit-content;
    margin-bottom: 3.5vh;
    margin-left: 7%;
}

.ForgetPasswordTitleWrapper{
    margin-left: 7%;
    text-decoration: none;
    display: grid;
    grid-template-columns: 14px auto;
    align-items: center;
}

.ForgetPasswordTitle{
    font-size: 18px;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    color: #101010;
    width: max-content;
}

.ForgetPasswordFormWrapper{
    margin-left: 10%;
    display: grid;
    grid-template-rows: 26px 34px;
    width: -webkit-fill-available;
    margin-right: 10%;
}

.ForgetPasswordFormText{
    font-size: 13.4px;
    font-weight: 400;
    font-family: 'Prompt', sans-serif;
    color: #5F5F5F;

}

.ForgetPasswordInputStyles{
    border: 0;
    border-bottom: 1.2px solid #E1E1E1;
    padding-bottom: 10px;
    font-size: 12px;
    padding-left: 9px;
    padding-right: 9px;
    font-weight: 400;
    font-family: 'Prompt', sans-serif;
    outline: none;
    width: -webkit-fill-available;
    border-radius: 0;
}

.ForgetPasswordBtnContainer{
    width: 100%;
    display: grid;
    justify-items: center;
}

.ForgetPasswordBtn{
    background-color: black;
    color: white;
    font-weight: 400;
    font-family: 'Prompt', sans-serif;
    width: 76%;
    height: 45px;
    border-radius: 14px;
    filter: drop-shadow(0px 2px 2px black);
    transition: all 0.45s;
}

.ForgetPasswordBtn:hover{
    background-color: #D9D9D9;
    color: black;
    filter: drop-shadow(0px 2px 2px #D9D9D9);
}