@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Roboto&display=swap');

.nav-container{
    grid-column: 1 /span 6;
    grid-row: 1;
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.nav{
    display: flex;
    align-items: center;
    padding: 0;
    margin-right: 15px;
}

.logo{
    margin-right: auto;
}

.user-name{
    margin-right: 20px;
}

.icons{
    display: flex;
    align-items: center;
}

.icon{
    margin-right: 10px;
    cursor: pointer;
    position: relative;
}

.iconImg{
    width: 20px;
    height: 20px;
}


.logout-btn{
    padding-bottom: 5px;
    cursor: pointer;
}

