.multi-select-dropdown {
    position: relative;
}

.selected-users {
display: flex;
flex-wrap: wrap;
padding: 5px;
border: 1px solid #ccc;
border-radius: 4px;
min-height: 40px;
align-items: center;
}

.selected-users span {
background-color: #007bff;
color: #fff;
padding: 2px 5px;
margin: 2px;
border-radius: 4px;
cursor: pointer;
}

.selected-users span:hover {
background-color: #0056b3;
}

.selected-users span::after {
content: ' ';
display: inline-block;
width: 10px;
}

.selected-users span:last-child::after {
display: none;
}

.selected-services {
display: flex;
flex-wrap: wrap;
padding: 5px;
border: 1px solid #ccc;
border-radius: 4px;
min-height: 40px;
align-items: center;
}

.selected-services span {
background-color: #007bff;
color: #fff;
padding: 2px 5px;
margin: 2px;
border-radius: 4px;
cursor: pointer;
}

.selected-services span:hover {
background-color: #0056b3;
}

.selected-services span::after {
content: ' ';
display: inline-block;
width: 10px;
}

.selected-services span:last-child::after {
display: none;
}

.green-service {
    background-color: #80bdb3 !important; /* You can customize the style as needed */
    border-radius: 5px;
}


.yellow-service{
    background-color: #ffe1a5 !important;
    border-radius: 5px;
}

.white-service{
    background-color: #fff !important;
}